<form action="<%= url %>?_method=DELETE" method="post">
	<button class="p-0" style="border: none; background-color: transparent">
		<i class="fa fa-trash text-danger" aria-hidden="true"></i>
	</button>
</form>
