<footer class="footer">
		<p class="text-center py-3 mb-0">
			Ayancheri Agri Farm & Agri Supermarket |
			<a href="https://www.ayancheriagrifarm.com/">Home</a>
			<br />Ayancheri Theru - Kallumpuram Rd, Katameri, Kerala 673507
		</p>
	</div>
</footer>
