<footer class="footer">
	<div>
		<p class="text-center py-3 mb-0">
			<a style="color: #fff" href="https://www.ayancheriagrifarm.com/"
				>Ayancheri Agri Farm</a
			>
			| Website by
			<a style="color: #fff" href="https://www.vibgreenyor.com/"> VIBGreenYOR</a>
		</p>
	</div>
</footer>
