body {
	color: #386858;
	font: normal 16px 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	background-color: #fff;
	/* background-color: #11998e; */
	/* background: linear-gradient(
		to right bottom,
		#051937,
		#004d7a,
		#008793,
		#00bf72,
		#a8eb12
	); */
	overflow-x: hidden;
	line-height: 1.5;
}

.parallax {
	/* The image used */
	background-image: url('./Image\ 1.jpeg');

	/* Full height */
	height: 90vh;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.transparent {
	height: inherit;
	background: rgba(0, 0, 0, 0.6);
}

/* .container {
	height: max-content;
} */

.card {
	border: 1px solid #386858;
	/* color: #000; */
	text-align: center;
}

.card-img-top {
	/* width: -webkit-fill-available; */
	/* margin: 20px; */
	/* margin-bottom: 0; */
	/* border-radius: 0.25rem; */
	font-size: xxx-large;
	margin: 0 auto;
	margin-top: 20px;
	width: 50px;
}

.shadow {
	box-shadow: 0 0.5rem 1rem rgba(56, 104, 88, 0.15) !important;
}

@media only screen and (min-width: 768px) {
	.carousel-inner .carousel-item {
		height: 80vh;
	}

	.carousel-item img {
		position: absolute;
		top: 0;
		left: 0;
		min-height: 80vh;
	}
}

/* .style {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0px;
	overflow-wrap: break-word;
	background-color: transparent;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

.style:hover {
	border: 1px solid #fff;
} */

.map-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
