<div class="container text-center">
	<div style="display: flexbox; justify-content: space-around">
		<h1 style="font-size: 10rem; font-weight: 900">404</h1>
		<h1 class="text-uppercase" style="font-weight: 600">page not found</h1>
		<h4>Please check if there is a typo in the link!!</h4>
		<p>Click <a href="/">here</a> to get to the home page</p>
	</div>
</div>
​
